################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Questao1/obj/project.assets.json
/Questao1/obj/project.nuget.cache
/Questao1/obj/Questao1.csproj.nuget.dgspec.json
/Questao2/obj/project.nuget.cache
/Questao2/obj/project.assets.json
/Questao2/obj/Questao2.csproj.nuget.dgspec.json
/.vs/Exercicio/FileContentIndex/49dcd7b5-e3ec-44a1-8350-432ac1d90aea.vsidx
/.vs/Exercicio/FileContentIndex/read.lock
/Questao5/obj/project.assets.json
/Questao5/obj/project.nuget.cache
/Questao5/obj/Questao5.csproj.nuget.dgspec.json
/.vs/slnx.sqlite
*.wsuo
/.vs/Exercicio/FileContentIndex/fbd27fee-d17f-4502-b7fb-9bccd5573f97.vsidx
/.vs/Exercicios20042023/FileContentIndex/4f967f89-6fc1-4359-8301-17b2b3ba1354.vsidx
/.vs/Exercicios20042023/FileContentIndex/read.lock
/style.css
/Questao1/bin/Debug/net6.0/Questao1.dll
/Questao1/bin/Debug/net6.0/Questao1.pdb
/Questao1/obj/Debug/net6.0/Questao1.csproj.FileListAbsolute.txt
/Questao1/obj/Debug/net6.0/Questao1.dll
/Questao1/obj/Debug/net6.0/Questao1.genruntimeconfig.cache
/Questao2/bin/Debug/net6.0/Questao2.dll
/Questao1/obj/Debug/net6.0/Questao1.pdb
/Questao2/bin/Debug/net6.0/Questao2.pdb
/Questao2/obj/Debug/net6.0/refint/Questao2.dll
/Questao2/obj/Debug/net6.0/ref/Questao2.dll
/Questao2/obj/Debug/net6.0/Questao2.dll
/Questao2/obj/Debug/net6.0/Questao2.csproj.FileListAbsolute.txt
/Questao2/obj/Debug/net6.0/Questao2.genruntimeconfig.cache
/Questao2/obj/Debug/net6.0/Questao2.pdb
