################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

# Compiled Object files
*.sln.ide
*.sln.iml
*.dll
*.exe
*.obj
*.o
*.a
*.lib
*.so
*.dylib
*.ncb
*.sdf
*.pdb
*.ipch
*.csproj.user
*.res
*.suo
*.user
*.vspscc
*.vssscc
*.dotCover
*.ncrunch*
*.testsettings
*.vscode
*.vs
bin/
obj/
