################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Questao1/obj/Debug/net6.0
/Questao2/obj/Debug/net6.0
/.vs/Exercicios20042023/FileContentIndex
*.sqlite
